<!DOCTYPE html>
<html>
<body>

<h1>{{ label }} 2FA</h1>

<table>
    <tr>
        <td>
            <img src="data:image/png;base64, {{ qr_code }}" />
        </td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td>{{ type }}</td>
    </tr>
    <tr>
        <td><b>Issuer</b></td>
        <td>{{ issuer }}</td>
    </tr>
    <tr>
        <td><b>Account</b></td>
        <td>{{ account }}</td>
    </tr>
    <tr>
        <td><b>Secret</b></td>
        <td>{{ secret }}</td>
    </tr>
    <tr>
        <td><b>Algorithm</b></td>
        <td>{{ algorithm }}</td>
    </tr>
    <tr>
        <td><b>Counter</b></td>
        <td>{{ counter }}</td>
    </tr>
    <tr>
        <td><b>Period</b></td>
        <td>{{ period }} s</td>
    </tr>
    <tr>
        <td><b>Recovery Codes</b></td>
        <td>{{ recovery_codes }}</td>
    </tr>
</table>

</body>
</html>